@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  background: var(--Orange-10);
  margin-top: 24px;
  min-height: 70px;
}

.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 100px;
}

.container nav div ul {
  display: flex;
  column-gap: 100px;
  list-style: none;
  color: white;
  align-items: center;
  font-weight: 400;
}

.container h2 {
  color: white;
  font-weight: 700;
  font-size: 25px;
}
