:root {
  --Orange-50: linear-gradient(92.48deg, #fa8305 2.08%, #fb9e3c 117.25%);
  --Orange-10: linear-gradient(90.05deg, #e47500 -5.66%, #df7c14 115.63%);
}

a {
  text-decoration: unset;
}

.btn-primary {
  background-color: #ffffff;
  min-width: 131px;
  padding-inline: 16px;
  height: 41px;
  border-radius: 6px;
  color: #dc7000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
